//////////////////////////////////////////////////////////
// Alignitem Shrink
//////////////////////////////////////////////////////////
$shrink-numbers: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

// generate alignitem flexshrink classes
@each $value in $shrink-numbers {
  .#{$prefix}#{$align}-s#{$value} {
    flex-shrink: $value;
  }
}

// generate alignitem flexshrink  with media queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $value in $shrink-numbers {
      .#{$prefix}#{$align}-s#{$value}--#{$mq-name} {
        @media #{$mq-value} {
          flex-shrink: $value;
        }
      }
    }
  }
}
