//////////////////////////////////////////////////////////
// Alignitem Alignself
//////////////////////////////////////////////////////////
$item-alignments: (
  "t": flex-start,
  "b": flex-end,
  "c": center,
  "bl": baseline,
  "s": stretch
);

// generate alignitem alignself classes
@each $al-name, $al-value in $item-alignments {
  .#{$prefix}#{$alignitem}-as-#{$al-name} {
    align-self: $al-value;
  }
}

// generate alignitem alignself with media queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $al-name, $al-value in $item-alignments {
      .#{$mq-name}\:#{$prefix}#{$alignitem}-as-#{$al-name} {
        @media #{$mq-value} {
          align-self: $al-value;
        }
      }
    }
  }
}
