//////////////////////////////////////////////////////////
// Align
//////////////////////////////////////////////////////////
@import "align-content";
@import "align-direction";
@import "align-horizontal";
@import "align-vertical";

// TODO: add to docs
// Shortcut for centering vertical and horizontal at once
.#{$prefix}#{$align}-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
