//////////////////////////////////////////////////////////
// Align Content
//////////////////////////////////////////////////////////
$content-alignments: (
  "t": flex-start,
  "b": flex-end,
  "c": center,
  "s": stretch,
  "sb": space-between,
  "sa": space-around
);

// generate align content classes
@each $al-name, $al-value in $content-alignments {
  .#{$prefix}#{$align}-c#{$al-name} {
    display: flex;
    align-content: $al-value;
  }
}

// generate align content classes with media queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $al-name, $al-value in $content-alignments {
      .#{$prefix}#{$align}-c#{$al-name}--#{$mq-name} {
        @media #{$mq-value} {
          display: flex;
          align-content: $al-value;
        }
      }
    }
  }
}
