//////////////////////////////////////////////////////////
// Align Horizontal
//////////////////////////////////////////////////////////

$horizontal-alignments: (
  "l": flex-start,
  "c": center,
  "r": flex-end,
  "sb": space-between,
  "sa": space-around,
  "se": space-evenly
);

// generate align horizontal classes
@each $al-name, $al-value in $horizontal-alignments {
  .#{$prefix}#{$align}-h#{$al-name} {
    display: flex;
    justify-content: $al-value;
  }
}

// generate align horizontal classes with media queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $al-name, $al-value in $horizontal-alignments {
      .#{$prefix}#{$align}-h#{$al-name}--#{$mq-name} {
        @media #{$mq-value} {
          display: flex;
          justify-content: $al-value;
        }
      }
    }
  }
}
