//////////////////////////////////////////////////////////
// Align Vertical
//////////////////////////////////////////////////////////

$vertical-alignments: (
  "t": flex-start,
  "c": center,
  "b": flex-end,
  "s": stretch,
  "bl": baseline
);

// generate align vertical classes
@each $al-name, $al-value in $vertical-alignments {
  .#{$prefix}#{$align}-v-#{$al-name} {
    display: flex;
    align-items: $al-value;
  }
}

// generate align vertical classes with media queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $al-name, $al-value in $vertical-alignments {
      .#{$mq-name}:#{$prefix}#{$align}-v-#{$al-name} {
        @media #{$mq-value} {
          display: flex;
          align-items: $al-value;
        }
      }
    }
  }
}
