//////////////////////////////////////////////////////////
// Align
//////////////////////////////////////////////////////////
@import "align-content";
@import "align-direction";
@import "align-horizontal";
@import "align-vertical";

// not in docs!
.#{$prefix}#{$align} {
  display: flex;
}

// not in docs!
.#{$prefix}#{$align}-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
