//////////////////////////////////////////////////////////
// Alignment Vertical
//////////////////////////////////////////////////////////

$vertical-alignments: (
  "t": flex-start,
  "c": center,
  "b": flex-end,
  "s": stretch,
  "bl": baseline
);

// generate vertical alignment classes
@each $al-name, $al-value in $vertical-alignments {
  .#{$prefix}#{$alignment}-v#{$al-name} {
    align-items: $al-value;
  }
}

// generate vertical alignment classes with media queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $al-name, $al-value in $vertical-alignments {
      .#{$prefix}#{$alignment}-v#{$al-name}--#{$mq-name} {
        @media #{$mq-value} {
          align-items: $al-value;
        }
      }
    }
  }
}
