//////////////////////////////////////////////////////////
// layer
//////////////////////////////////////////////////////////

$factor: 100;

// generate layer classes
@each $layer-name in $layers {
  .#{$prefix}#{$layer}-#{$layer-name} {
    z-index: index($layers, $layer-name) *
      -$factor +
      length($layers) *
      $factor -
      $factor;
    position: relative;
  }
}

// generate layer classes with media-queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $layer-name in $layers {
      .#{$mq-name}\:#{$prefix}#{$layer}-#{$layer-name} {
        @media #{$mq-value} {
          z-index: index($layers, $layer-name) * -$factor + length($layers) *
            $factor - $factor;
          position: relative;
        }
      }
    }
  }
}
