@import "../src/index";

body {
  font-family: arial;
}

.al-h-box {
  padding: 1rem;
  background: lightgrey;
}

.al-v-box {
  padding: 1rem;
  background: lightgrey;
  height: 100px;
}

.ro-box {
  width: 100px;
  height: 50px;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin le-box {
  width: 200px;
  height: 50px;
}

.le-box0 {
  background-color: black;
  color: white;
  @include le-box;
  margin-top: -40px;
  margin-left: 200px;
}

.le-box1 {
  background-color: silver;
  @include le-box;
  margin-top: -20px;
  margin-left: 20px;
}

.le-box1 {
  background-color: grey;
  @include le-box;
  margin-top: -20px;
  margin-left: 20px;
}
.le-box2 {
  background-color: yellow;
  @include le-box;
  margin-top: -20px;
  margin-left: 40px;
}
.le-box3 {
  background-color: orange;
  @include le-box;
  margin-top: -20px;
  margin-left: 60px;
}
.le-box4 {
  background-color: red;
  @include le-box;
  margin-top: -20px;
  margin-left: 80px;
}
.le-box5 {
  background-color: green;
  @include le-box;
  margin-top: -20px;
  margin-left: 100px;
}
.le-box6 {
  background-color: purple;
  @include le-box;
  margin-top: -20px;
  margin-left: 120px;
}
.le-box7 {
  background-color: snow;
  @include le-box;
  margin-top: -20px;
  margin-left: 140px;
}
.le-box8 {
  background-color: sandybrown;
  @include le-box;
  margin-top: -20px;
  margin-left: 160px;
}
.le-box9 {
  background-color: olive;
  @include le-box;
  margin-top: -20px;
  margin-left: 180px;
}
.le-box10 {
  background-color: aqua;
  @include le-box;
  margin-top: -20px;
  margin-left: 200px;
}
.le-box11 {
  background-color: teal;
  @include le-box;
  margin-top: -20px;
  margin-left: 220px;
}
.sp-inline,
.sp-inline div {
  display: inline;
}

.sp-inline-block div {
  display: inline-block;
}

.ce-layout {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 200px 200px 200px;
  gap: 0.5em;
}

.ce-layout > * {
  border: 2px solid #00979e;
}

.fl-wrapper {
  width: 300px;
  height: 200px;
  background: silver;
}
