//////////////////////////////////////////////////////////
// Layout
//////////////////////////////////////////////////////////

$layout-directions: (
  "h": "grid-template-columns",
  "v": "grid-template-rows"
);

.#{$prefix}#{$layout} {
  display: grid;
}

// generate layout classes
@each $direction-name, $direction-value in $layout-directions {
  @each $layout-name, $layout-value in $layout-types {
    .#{$prefix}#{$layout}-#{$direction-name}-#{$layout-name} {
      #{$direction-value}: $layout-value;
    }
  }
}

// generate layout classes with media queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $direction-name, $direction-value in $layout-directions {
      @each $layout-name, $layout-value in $layout-types {
        .#{$prefix}#{$layout}-#{$direction-name}-#{$layout-name}--#{$mq-name} {
          @media #{$mq-value} {
            #{$direction-value}: $layout-value;
          }
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////
// Layout gutters
//////////////////////////////////////////////////////////

$gutter-directions: (
  "h": "grid-column-gap",
  "v": "grid-row-gap"
);

// generate grid-gutters (same value for both directions)
@each $gutter-level, $gutter-multiplier in $size-multipliers {
  .#{$prefix}#{$layout}-g#{$gutter-level} {
    grid-column-gap: $gutter-multiplier * $base-spacing;
    grid-row-gap: $gutter-multiplier * $base-spacing;
  }
}

// generate grid-gutters with media queries (individual values for both directions)
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $gutter-level, $gutter-multiplier in $size-multipliers {
      .#{$prefix}#{$layout}-g#{$gutter-level}--#{$mq-name} {
        @media #{$mq-value} {
          grid-column-gap: $gutter-multiplier * $base-spacing;
          grid-row-gap: $gutter-multiplier * $base-spacing;
        }
      }
    }
  }
}

// generate grid-gutters with directions
@each $direction-name, $direction-value in $gutter-directions {
  @each $gutter-level, $gutter-multiplier in $size-multipliers {
    .#{$prefix}#{$layout}-#{$direction-name}g#{$gutter-level} {
      #{$direction-value}: $gutter-multiplier * $base-spacing;
    }
  }
}

// generate grid-gutters with directions and media queries
@each $mq in $media-queries {
  @each $mq-name, $mq-value in $mq {
    @each $direction-name, $direction-value in $gutter-directions {
      @each $gutter-level, $gutter-multiplier in $size-multipliers {
        .#{$prefix}#{$layout}-#{$direction-name}g#{$gutter-level}--#{$mq-name} {
          @media #{$mq-value} {
            #{$direction-value}: $gutter-multiplier * $base-spacing;
          }
        }
      }
    }
  }
}
